
<!DOCTYPE html>
<html>
    <head>
        <title>GrandPyBot</title>

    <script type="text/javascript">

        function submitMessage() {
            let inputQuestion = document.getElementById("question");
            let userQuestion = document.getElementById("user_question");
            let grandpyAnswerAddress = document.getElementById("grandpy_address");
            let grandpyAnswerWiki = document.getElementById("grandpy_information");
            let grandpyMap = document.getElementById("grandpy_map");
            let entry = { 
                question: inputQuestion.value
            };
        
            fetch(`${window.origin}/index/create-entry`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            })
            .then(function(response) {
                if (response.status !== 200) {
                    console.log(`Looks like there was a problem. Status code: ${response.status}`);
                    return;
                }
                response.json().then(function(data) {
                console.log(data);
                userQuestion.textContent = "@User question:"+ inputQuestion.value
                grandpyAnswerAddress.textContent = "@GPy address:"+ data.address;
                grandpyAnswerWiki.textContent = "@GPy wiki:"+ data.information;
                });
            })
            .catch(function(error) {
                console.log("Fetch error: " + error);
            });

        }

    </script>           
    </head>
    <body>
        <div>
            Ask your question:
        </div>
        <form action="" method="post" novalidate>
            <div>
                <input type="text" id="question" value="" />
                <button type="button" id="submit" onclick="submitMessage();">Ask</button>
            </div>
        </form>
        <hr>
            <ul>
                <li id ="user_question"></li>
                <li id ="grandpy_address"></li>
                <li id ="grandpy_information"></li>
            </ul>

        <hr>
        <iframe
            id="grandpy_map"
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src={{ gmap.url }} allowfullscreen>
        </iframe>
  
    </body>
</html>