
<html>
    <head>
        <title>GrandPyBot</title>
    </head>
    <body>
        <div>
            Ask your question:
        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.question(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <hr>
        <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src={{ mape.url }} allowfullscreen>
        </iframe>

    </body>
</html>