
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>GrandPyBot</title>

           
    </head>
    <body>
        <div>
            Ask your question:
        </div>
        <form action="" method="post" novalidate>
            <div>
                <input type="text" id="question" value="" />
                <button type="button" id="submit" onclick="submitMessage();">Ask</button>
            </div>
        </form>
        <hr>
            <ul id="chat">
            </ul>

        <hr>
        <iframe
            id="grandpy_map"
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src={{ gmap.url }} allowfullscreen>
        </iframe>

    <script type="text/javascript">

        function submitMessage() {
            let inputQuestion = document.getElementById("question");
            let userQuestion = document.getElementById("user_question");
            let chat = document.querySelector("#chat");
            let grandpyAnswerAddress = document.getElementById("grandpy_address");
            let grandpyAnswerWiki = document.getElementById("grandpy_information");
            let grandpyMap = document.getElementById("grandpy_map");
            let entry = { 
                question: inputQuestion.value
            };

            fetch(`${window.origin}/index/create-entry`, {
                method: "POST",
                credentials: "include",
                body: JSON.stringify(entry),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            })
            .then(function(response) {
                if (response.status !== 200) {
                    console.log(`Looks like there was a problem. Status code: ${response.status}`);
                    return;
                }
                response.json().then(function(data) {
                console.log(data);

                let userPrefix = "@utilisateur: "
                let grandpyPrefix = "@grandpy: "

                let node = document.createElement("li");
                let node2 = document.createElement("li");
                let node3 = document.createElement("li");
                let nodeUserPrefix = document.createElement("span");
                nodeUserPrefix.textContent = userPrefix
                let nodeQuestion = document.createTextNode(inputQuestion.value);
                let nodeGrandpyPrefix = document.createElement("span");
                nodeGrandpyPrefix.textContent = grandpyPrefix
                let nodeGrandpyPrefix2 = document.createElement("span");
                nodeGrandpyPrefix2.textContent = grandpyPrefix
                let nodeAnswerAddress = document.createTextNode(data.address);
                let nodeAnswerWikiMedia = document.createTextNode(data.information);



                node.append(nodeUserPrefix);
                node.append(nodeQuestion);
                chat.append(node);

                node2.append(nodeGrandpyPrefix);
                node2.append(nodeAnswerAddress);
                chat.append(node2);

                node3.append(nodeGrandpyPrefix2);
                node3.append(nodeAnswerWikiMedia);
                chat.append(node3);

                grandpyMap.src = data.map;
                });
            })
            .catch(function(error) {
                console.log("Fetch error: " + error);
            });

        }

    </script>
  
    </body>
</html>