.my-title-text
{
	font-size:3vw;
}

.my-question
{
	font-family: Verdana;
	font-style: italic;
}

.my-title-image
{
	width: 10%;
}

.chat-box
{
	min-height: 200px;
	max-height: 400px;
	overflow-y: scroll
}

.my-font
{
	font-family: Verdana;
}
